<div class="mat-elevation-z8">
  <table mat-table [dataSource]="coins" class="full-width-table" matSort aria-label="Coins">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Icon</th>
      <td mat-cell *matCellDef="let row">
        <img class="coin-picture" [src]="row.pictureUrl" alt="Picture">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let row">
        <div class="align-middle">&#36;{{row.price}}
        <mat-icon [color]="row.flag === coinFlags.DOWN ? 'error' : 'success'">
        {{  row.flag === coinFlags.DOWN
        ? 'arrow_downward'
        : row.flag === coinFlags.UP ? 'arrow_upward' : '' }}
        </mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
  </table>
</div>
