.full-width-table {
  width: 100%;
}

.coin-picture {
  height: 20px;
  width: 20px;
}

.mat-column-image {
  width: 40px;
}

.align-middle {
  display: flex;
  align-items: center;
}

tr.mat-row:hover {
  background: #777;
  cursor: pointer
}
